body {
  background-image: radial-gradient(
      rgba(64, 147, 164, 0.5) 10px,
      transparent 10px
    ),
    radial-gradient(rgba(232, 100, 119, 0.5) 10px, transparent 10px);
  background-size: 300px 300px;
  background-position: 0px 0px, 150px 150px;
  animation: 2s linear 0s infinite normal none running lineMove;
  text-align: center;
  padding: 0;
}

.heading {
  font-family: "Kanit", sans-serif;
  margin-bottom: 40px;
}

.subheading {
  font-family: "Kanit", sans-serif;
  margin-bottom: 40px;
}

.container {
  max-width: 960px;
  margin: 40px auto;
}

.center {
  text-align: center;
}

img {
  width: 200px;
}

.logo {
  filter: drop-shadow(rgba(65, 147, 164, 0.32) 2px 4px 6px);
}

.content-box {
  font-family: "Sarabun", sans-serif;
  font-size: 14px;
  background: #fff;
  margin-bottom: 80px;
  height: 300px;
  padding: 40px;
  text-align: left;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  overflow-y: scroll;
}

.content-box p {
  text-indent: 70px;
  margin: 14px auto;
  line-height: 27px;
}

.content-box ul {
  padding-left: 70px;
  line-height: 27px;
}

.content-header {
  margin: 18.62px auto;
  font-weight: 700;
}

.content-center {
  text-align: center;
}

.content-right {
  text-align: right;
}

.image {
  width: 100%;
  max-width: 250px;
  margin: 40px auto;
}

.grid {
  display: grid;
  grid-template-columns: 250px auto 200px;
  margin: 0 40px 70px 40px;
}

.grid > div {
  display: flex;
  align-items: center;
}

.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
}

.button {
  background-clip: border-box;
  background-color: rgb(232, 100, 119);
  box-shadow: 0px 3px 10px rgba(232, 100, 119, 0.6);
  border: 0px;
  border-radius: 10em;
  justify-content: center;
  letter-spacing: normal;
  min-width: 48px;
  margin-bottom: 20px;
  outline: none;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  word-spacing: 0px;
  cursor: pointer;
}

.button:hover {
  background-color: hsl(351.4, 74.2%, 57%);
}

.button > div {
  font-family: "Kanit", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 10px;
}

.footer {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  margin-top: 40px;
}
