body {
  background-image: radial-gradient(
      rgba(64, 147, 164, 0.5) 10px,
      transparent 10px
    ),
    radial-gradient(rgba(232, 100, 119, 0.5) 10px, transparent 10px);
  background-size: 300px 300px;
  background-position: 0px 0px, 150px 150px;
  animation: 2s linear 0s infinite normal none running lineMove;
  text-align: center;
  padding: 0;
}

.heading {
  font-family: "Kanit", sans-serif;
  margin-bottom: 40px;
}

.container {
  max-width: 960px;
  margin: 40px auto 0px auto;
}

.center {
  text-align: center;
}

img {
  width: 200px;
}

.logo {
  filter: drop-shadow(rgba(65, 147, 164, 0.32) 2px 4px 6px);
}

.content-box {
  font-family: "Sarabun", sans-serif;
  font-size: 14px;
  background: #fff;
  text-align: left;
  height: 300px;
  padding: 40px;
  overflow: hidden;
  overflow-y: scroll;
  filter: drop-shadow(rgba(65, 147, 164, 0.32) 2px 4px 6px);
}

.content-box p {
  text-indent: 70px;
  margin: 14px auto;
  line-height: 27px;
}

.content-box ul {
  padding-left: 70px;
  line-height: 27px;
}

.content-header {
  margin: 18.62px auto;
  font-weight: 700;
}

.content-center {
  text-align: center;
}

.content-right {
  text-align: right;
}
